._black {
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
}

html {
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 36px 20px 0;
}

.link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-size: 1.125rem;
}

.row {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.conteiner,
.navigation {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.navigation,
.authentication {
  display: flex;
  align-items: center;
  display: none;
}

.navigation__link {
  text-decoration: none;
  color: rgb(21, 21, 21);
  white-space: nowrap;
}

.authentication__login, .authentication__sign-up {
  width: 9rem;
}

.button {
  display: flex;
  height: 3.25rem;
  justify-content: center;
  align-items: center;
  border-style: none;
}

.button_transparent {
  background-color: transparent;
}

.main {
  text-align: left;
  margin: 0 auto;
  max-width: 1520px;
  padding: 0 20px;
}

.hero__title {
  margin-bottom: 2.2rem;
}
.hero__email-form {
  margin-bottom: 2.5rem;
}
.hero__illustration {
  margin-top: 2.5rem;
}

.email-form {
  max-width: 30rem;
  display: flex;
  height: 3.25rem;
  border: 1px solid #151515;
}
.email-form__input {
  padding: 0;
  border: none;
  width: 55%;
}
.email-form__button {
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
  width: 45%;
  border: none;
}

.bank-icon {
  max-width: 20.5rem;
  display: flex;
  justify-content: space-between;
}

.section-header {
  border: 1px solid black;
  display: inline-block;
  padding: 0 1rem;
  height: 2.25rem;
  white-space: nowrap;
  margin-top: 6.25rem;
}

.list {
  list-style-type: square;
  list-style-image: url(images/ui-elements-dot-black.png);
}

.block {
  display: flex;
}
.block__icon {
  max-width: 68px;
  max-height: 68px;
  margin-top: 1rem;
  margin-right: 1rem;
}
.block__text {
  display: flex;
  flex-direction: column;
}

.cards-box {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1.25rem auto 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: center;
  border: 1px solid #151515;
  padding: 3rem 0;
  flex: 1 0 320px;
}
.card .card__wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__description {
  margin-left: 1.5rem;
  margin-bottom: 60px;
  margin: 31px 0px 60px 24px;
}
.card__button {
  margin: 62px 40px 0;
  width: 240px;
  height: 52px;
  background-color: #151515;
  color: #fff;
  bottom: 48px;
}

.price {
  margin-left: 1.5rem;
  display: flex;
}
.price__currency {
  position: relative;
  top: 1rem;
}
.price__period {
  position: relative;
  top: 4rem;
  margin-left: 0.75rem;
}

.card_black-theme {
  background-color: #151515;
  color: white;
}
.card_black-theme .card__list {
  list-style-image: url(images/ui-elements-dot-white.png);
}
.card_black-theme .card__button {
  background-color: #fff;
  color: #151515;
}

.details {
  border-top: 1px solid #151515;
  padding: 20px 0px;
}

.footer {
  background: #151515;
  color: #fff;
  padding: 40px 20px;
  margin-top: 100px;
}
.footer__email {
  text-align: right;
}
.footer__list-links {
  padding: 0;
}
.footer__email-form {
  border: 1px solid white;
}
.footer__input {
  background-color: #151515;
  color: white;
}
.footer__button {
  background-color: white;
  color: #151515;
}

.social {
  display: flex;
  width: 380px;
  height: 60px;
}

.illustration {
  width: 90%;
  max-width: 660px;
  max-height: 700px;
}

@media screen and (min-width: 1024px) {
  .navigation,
  .authentication {
    display: flex;
  }
  .menu {
    display: none;
  }
  h1 {
    font-size: 70px;
    line-height: 80px; /* 114.286% */
    letter-spacing: -4px;
  }
  .section-title {
    font-size: 60px;
    line-height: 58px;
    letter-spacing: -3px;
    font-weight: 400;
  }
  .section-header {
    margin-top: 0px;
  }
  .header,
  .main,
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero,
  .about-us,
  .how-it-works,
  .pricing__wrap,
  .FAQs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 120px;
  }
  .about-us__wrap {
    order: 1;
  }
  .pricing__text-wrap {
    order: 1;
    text-align: right;
  }
  .card {
    max-width: 305px;
  }
  .footer__email {
    text-align: left;
  }
  .footer {
    padding-left: 3%;
    position: relative;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
    gap: 35px;
  }
  .footer__logo {
    grid-column: 1/3;
  }
  .footer__email {
    grid-column: 3;
  }
  .other-links {
    grid-column: 4;
    grid-row: 1/3;
  }
  .social {
    grid-column: 1/3;
    grid-row: 2;
  }
  .title-email {
    grid-column: 1/3;
    grid-row: 3;
  }
  .footer__email-form {
    grid-column: 1/3;
    grid-row: 4;
  }
  .footer__rights {
    position: absolute;
    bottom: 36px;
    left: 3%;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    max-width: 415px;
  }
  .header,
  .main,
  .footer {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 2560px) {
  .card {
    max-width: 436px;
  }
  .header,
  .footer {
    padding-left: 140px;
    padding-right: 140px;
  }
  .main {
    padding-left: 0 534px;
    padding-right: 0 534px;
  }
}/*# sourceMappingURL=styles.css.map */